* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Helvetica", "cursive";
  scroll-behavior: smooth;
}

.nav {
  background: #444444;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  z-index: 1;
  width: 100%;
  max-width: 1280px;
}

/* id: nav__title */
#nav__title {
  margin-left: 25px;
  color: rgb(226, 224, 224);
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  /* changes to a hand to indicate a link */
  text-decoration: none;
  /* remove link line */
}

.nav__menu {
  display: flex;
  list-style: none;
  /* remove bullet points */
}

.nav__item {
  height: 100px;
}

.nav__links {
  color: rgb(226, 224, 224);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  /* controls distance from title */
  text-decoration: none;
  /* remove link line */
  height: 100%;
}

/* control what happens when you hover over it*/
.nav__links:hover {
  color: #4ca1af;
}

/* to control the thickness of the scroll bar */
.scroll {
  border-bottom: 10px solid #4ca1af;
}

.contact__button {
  color: rgb(226, 224, 224);
  font-size: 20px;
  display: flex;
  position: relative;
  text-decoration: none;
  /* get rid of link underline*/
  outline: none;
  margin: 20px 13px;
  border: solid 6px transparent;
  border-radius: 10px;
  padding: 15px 15px;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #ebe1e1, rgb(52, 45, 46));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #918b91 inset;

  transition: transform 0.3s;
}

.contact__button a {
  height: 90px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* remove link line */
  height: 100%;
}

.contact__button:hover {
  transform: scale(1.1);
}

/* for when screen is minimized, 700px or less */
@media screen and (max-width: 800px) {
  .nav__container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    width: 100%;
    max-width: 1280px;
  }

  .nav__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    /*this is the drop down effect */
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .nav__menu.active {
    background: #d2cdce;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 75;
    height: 60vh;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #nav__title {
    padding-left: 25px;
  }

  .nav__toggle .option {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    /* colour of the 3 lines*/
  }

  .nav__item {
    width: 100%;
  }

  .nav__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  /* .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80px;
  } */

  #menu-icon {
    position: absolute;
    top: 30%;
    right: 5%;
    transform: translate(5%, 30%);
  }

  .nav__toggle .option {
    display: block;
    cursor: pointer;
  }

  /*animation*/

  /* we want the menu icon to turn into an x */
  /* we are targetting the second child in html to disappear*/
  #menu-icon.is-active .option:nth-child(2) {
    opacity: 0;
  }

  /* the rotate makes the lines into the X*/
  #menu-icon.is-active .option:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #menu-icon.is-active .option:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Home Section*/

.home__section {
  background: rgb(226, 224, 224);
}

.home__container {
  display: flex;
  flex-direction: column;
  /* vertical items*/
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 200px;
}

.home__heading {
  font-size: 75px;
  margin-bottom: 30px;
  margin-top: 100px;
  color: #5a5f5f;
}

.home__description {
  font-size: 45px;
  font-family: "Bradley Hand", "cursive";
  color: #4ca1af;
}


.btn {
  font-size: 20px;
  padding: 15px 40px;
  border-radius: 12px;
  margin-top: 20px;
  cursor: pointer;
  position: sticky;
  color: #fff;
  border: solid 6px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #ebe1e1, rgb(52, 45, 46));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #918b91 inset;
}

.btn:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #969898;
  border-radius: 12px;
}

.btn:hover {
  color: #969898;
}


.btn:hover:after {
  width: 100%;
}

.main__btn a {
  position: relative;
  z-index: 5;
  color: #fff;
  text-decoration: none;
}

/* HOME SCREEN for when screen is minimized, 700px or less */
@media screen and (max-width: 700px) {
  .home__heading {
    font-size: 75px;
  }

  .home__description {
    font-size: 50px;
  }

  .main__btn {
    font-size: 20px;
    background: #e888bb;
    color: #fff;
    padding: 15px 40px;
    border-radius: 12px;
    /* makes corners round :) */
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    width: 100%;
  }
}

/* About Section*/
.about__section {
  background-color: rgb(226, 224, 224);
  padding: 10rem 10rem;
}

.about__container {
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 590px 590px;
  align-items: top;
  justify-content: center;

  z-index: 1;
  width: 100%;
  max-width: 1280px;

}

.about__content {
  color: #fff;
  padding: 0 50px;
}


.about__content h1 {
  font-size: 30px;
  background: -webkit-linear-gradient(to right, #798182, #161818);
  background: linear-gradient(to right, #798182, #161818);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.about__content h2 {
  font-size: 20px;
  background: -webkit-linear-gradient(to right, #8ccdd8, #32a0b0);
  background: linear-gradient(to right, #8ccdd8, #32a0b0);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.about__content h3 {
  font-size: 13px;
  color: #636a6c;
}

.about__content p {
  font-size: 15px;
  color: #4e5758;
  margin-top: 3px;
}

.tab {
  margin-left: 30px;
}

/* a element */
.about__btn a {
  position: relative;
  z-index: 5;
  color: #fff;
  text-decoration: none;
}


img {
  width: 450px;
  border-radius: 25px;
}

.table-style {
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;

}

tr,
td {
  padding: 5px;
  text-align: center;
  border: 1px solid #c2bebe;
  font-size: 12px;
  color: #494040;
}



/* For minimized screen*/
@media screen and (max-width: 1100px) {
  .about__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .about__content {
    text-align: center;
  }

  .about__content h1 {
    font-size: 75px;
    margin-top: 35px;
    text-align: center;
  }

  .about__content h2 {
    margin-top: 35px;
    font-size: 45px;
    text-align: center;
  }

  .about__content h2 {
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
  }

  .about__content h3 {
    margin-top: 70px;
    font-size: 25px;
    color: #61a8b3;
  }

  .about__content p {
    margin-top: 70px;
    font-size: 20px;
    text-align: center;
  }

}

/* Projects Section */

.projects {
  background: rgb(226, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 100px 25px;
}

.projects h1 {
  color: #5a5f5f;
  font-size: 50px;
  margin-bottom: 45px;
  margin-top: 40px;
}

.projects__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.projects__card {
  margin: 25px;
  height: 425px;
  width: 325px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(TO RIGHT, #4ca1af, rgb(191, 212, 236) 100%);
}

.projects__card h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.projects__card h3 {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 16px;
}

.projects__card p {
  font-family: "Bradley Hand", "Helvetica", "cursive";
  text-align: center;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 13px;
}

.project__btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.projects__card a {
  text-decoration: none;
}

.projects__card button {
  text-decoration: none;
  border-radius: 16px;
  font-size: 20px;
  padding: 14px 24px;
  color: #fff;
  border: solid 6px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #ebe1e1, rgb(52, 45, 46));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #918b91 inset;
}

.projects__card button:hover {
  cursor: pointer;
}

.projects__card:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition-duration: 1s;
}

@media screen and (max-width: 1300px) {
  .projects__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1100px) {
  .projects__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .projects__wrapper {
    grid-template-columns: 1fr;
  }
}

/* Contact Form Section */
.contact__section {
  background-color: rgb(226, 224, 224);
  padding: 10rem 10rem;
}

.contact__container {
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 590px 590px;
  align-items: top;
  justify-content: center;
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  text-align: center;
}

.contact__content {
  color: #fff;
  padding: 0 50px;

}

.contact__content h1 {
  text-align: center;
  font-size: 45px;
  background: -webkit-linear-gradient(to right, #798182, #161818);
  background: linear-gradient(to right, #798182, #161818);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.contact__content p {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  color: #716e6e;
}

.contact__content h2 {
  /* text-align: center; */
  margin-top: 20px;
  font-size: 25px;
  color: #716e6e;
}


/*social media icons start */
.contact__media {
  width: 100%;
}


.contact__media--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__media .fa-envelope,
.contact__media .fa-github,
.contact__media .fa-linkedin {
  font-size: 50px;
  color: #000;
}

.contact__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

/* social media icons end */

/* forms section starts */
.form__section {
  text-align: left;
  border-radius: 10px;
  background-color: rgb(226, 224, 224);
  padding: 15px 70px;

}

/* text = first, last name  */
/* textarea = question  */
/* drop down = select*/
input[type="text"],
select,
textarea {
  width: 100%;

  padding: 20px;
  border: 1px solid #7d7070;
  /* border colour */
  border-radius: 10px;

  margin-top: 10px;
  margin-bottom: 15px;
  resize: vertical;
  font-size: 15px;
}


input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  /* Why does this make the email box less skinny */
  border: 1px solid #7d7070;
  border-radius: 10px;
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 10px;
  margin-bottom: 15px;
  resize: vertical;
  font-size: 15px;
}

/* Submit button */
input[type="submit"] {
  font-size: 20px;
  background: #5a5f5f;
  border-style: solid;
  border-color: #161818;
  border-width: 3px;
  ;
  color: #fff;
  padding: 15px 40px;
  border-radius: 12px;
  /* makes corners round :) */
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}

input[type="submit"]:hover {
  background-color: #8dd2dd;
}



body {
  background-color: rgb(226, 224, 224);
  background-size: cover;
}

.thanks {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thanks h2 {
  margin-top: 40px;
  text-align: center;
}

/* forms section ends */
/* for minimized screen */

@media screen and (max-width: 1100px) {
  .contact__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

/* Footer */
.footer__section {
  background-color: #444444;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
}

/* Reach out section */
#footer__title {
  color: rgb(226, 224, 224);
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

.footer__links a {
  color: rgb(226, 224, 224);
  text-decoration: none;
  margin-bottom: 10px;
}

.footer__links a:hover {
  color: white;
}

.social__media {
  width: 100%;
}

.social__media--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin: 15px;
}

.social__icon--link {
  color: #fff;
  text-decoration: none;
  margin: 7px;
}

.fa-envelope,
.fa-github,
.fa-linkedin {
  font-size: 20px;
}